h1 {
    font-family: arial;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 25%;
}

th {
    height: 20px;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

body {
    font-family: arial;
}

#wrap {
    width: 70%;
    margin: 40px auto 0 auto;
}

#primary {
    width: 50%;
    float: left;
}

#secondary {
    width: 50%;
    float: right;
}